@charset "utf-8";

// Custom Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables",
        "404",
        "autumn",
        "base",
        "blog",
        "footer",
        "landing",
        "navbar",
        "projects",
        "skills",
        "timeline",
        "progress";


/*------------------------------------
- COLOR custom-custom-primary
------------------------------------*/

$custom_primary_t1: #0072f0;
$custom_primary_t2: #0059bd;
$custom_primary_t3: #8fc4ff;
$custom_primary_t4: #a8d1ff;
$custom_primary_t5: #003775;
$custom_primary_t6: #0052ad;
$custom_primary_t7: #0061cc;
$custom_primary_t8: #001f42;
$custom_primary_t9: #bddcff;

$custom_primary_shadow: rgba(0, 114, 240, 0.5);
$custom_primary_text_color_dark_bright: #fff;


.alert-custom-primary {
  color: $custom_primary_t5;
  background-color: $custom_primary_t9;
  border-color: $custom_primary_t4;
}

.alert-custom-primary hr {
  border-top-color: $custom_primary_t3;
}

.alert-custom-primary .alert-link {
  color: $custom_primary_t8;
}

.badge-custom-primary {
  color: $custom_primary_text_color_dark_bright;
  background-color: $custom_primary_t1;
}

.badge-custom-primary[href]:hover, .badge-custom-primary[href]:focus {
  color: $custom_primary_text_color_dark_bright;
  background-color: $custom_primary_t2;
}

.bg-custom-primary {
  background-color: $custom_primary_t1 !important;
}

a.bg-custom-primary:hover, a.bg-custom-primary:focus,
button.bg-custom-primary:hover,
button.bg-custom-primary:focus {
  background-color: $custom_primary_t2 !important;
}

.border-custom-primary {
  border-color: $custom_primary_t1 !important;
}

.btn-custom-primary {
  color: $custom_primary_text_color_dark_bright;
  background-color: $custom_primary_t1;
  border-color: $custom_primary_t1;
}

.btn-custom-primary:hover {
  color: $custom_primary_text_color_dark_bright;
  background-color: $custom_primary_t7;
  border-color: $custom_primary_t2;
}

.btn-custom-primary:focus, .btn-custom-primary.focus {
  box-shadow: 0 0 0 0.2rem $custom_primary_shadow;
}

.btn-custom-primary.disabled, .btn-custom-primary:disabled {
  color: $custom_primary_text_color_dark_bright;
  background-color: $custom_primary_t1;
  border-color: $custom_primary_t1;
}

.btn-custom-primary:not(:disabled):not(.disabled):active, .btn-custom-primary:not(:disabled):not(.disabled).active, .show > .btn-custom-primary.dropdown-toggle {
  color: $custom_primary_text_color_dark_bright;
  background-color: $custom_primary_t2;
  border-color: $custom_primary_t6;
}

.btn-custom-primary:not(:disabled):not(.disabled):active:focus, .btn-custom-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-custom-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $custom_primary_shadow;
}

.btn-outline-custom-primary {
  color: $custom_primary_t1;
  background-color: transparent;
  border-color: $custom_primary_t1;
}

.btn-outline-custom-primary:hover {
  color: $custom_primary_text_color_dark_bright;
  background-color: $custom_primary_t1;
  border-color: $custom_primary_t1;
}

.btn-outline-custom-primary:focus, .btn-outline-custom-primary.focus {
  box-shadow: 0 0 0 0.2rem $custom_primary_shadow;
}

.btn-outline-custom-primary.disabled, .btn-outline-custom-primary:disabled {
  color: $custom_primary_t1;
  background-color: transparent;
}

.btn-outline-custom-primary:not(:disabled):not(.disabled):active, .btn-outline-custom-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-custom-primary.dropdown-toggle {
  color: $custom_primary_text_color_dark_bright;
  background-color: $custom_primary_t1;
  border-color: $custom_primary_t1;
}

.btn-outline-custom-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-custom-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-custom-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $custom_primary_shadow;
}

.list-group-item-custom-primary {
  color: $custom_primary_t5;
  background-color: $custom_primary_t4;
}

.list-group-item-custom-primary.list-group-item-action:hover, .list-group-item-custom-primary.list-group-item-action:focus {
  color: $custom_primary_t5;
  background-color: $custom_primary_t3;
}

.list-group-item-custom-primary.list-group-item-action.active {
  color: $custom_primary_text_color_dark_bright;
  background-color: $custom_primary_t5;
  border-color: $custom_primary_t5;
}

.table-custom-primary,
.table-custom-primary > th,
.table-custom-primary > td {
  background-color: $custom_primary_t4;
}

.table-hover .table-custom-primary:hover {
  background-color: $custom_primary_t3;
}

.table-hover .table-custom-primary:hover > td,
.table-hover .table-custom-primary:hover > th {
  background-color: $custom_primary_t3;
}

.text-custom-primary {
  color: $custom_primary_t1 !important;
}

a.text-custom-primary:hover, a.text-custom-primary:focus {
  color: $custom_primary_t2 !important;
}
